.description_content_leftcolumn {
    flex-basis: 50%;
}

.description_content_leftcolumn h3 {
    font-size: 1.8rem;
    color: #1f3f5b;
    margin-bottom: 2.5rem;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
}

.description_content_leftcolumn p {
    font-size: 1.2rem;
    margin-bottom: 3rem;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
}

@media (max-width: 991px) {
    .description .description_content .description_content_leftcolumn {
        flex-basis: 100%;
        order: 2;
        text-align: center;
        margin-bottom: 3rem;
    }

    .description .description_content .description_content_leftcolumn h3 {
        margin-bottom: 1rem;
    }

    .description .description_content .description_content_leftcolumn p {
        font-size: 1.1rem;
        margin-bottom: 3rem;
    }
}

@media (max-width: 320px) {
    .description_content_leftcolumn h3 {
        font-size: 1.5rem;
    }
}