.mobilenav {
    display: none;
}

@media (max-width: 991px) {
    #mobilenav {
        display: block;
        position: absolute;
        top: 8.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 85%;
        padding: 2rem 1.5rem;
        background: #ffffff;
        box-shadow: 0 0 30px 3px #0000004d;
        text-align: center;
        border: none;
        border-radius: .5rem;
        z-index: 10;
        transition: .5s;
    }

    .mobilenav ul li {
        list-style: none;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobilenav ul li a {
        text-decoration: none;
        color: #25252d;
        font-size: 1.2rem;
        font-weight: 300;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
    }

    .mobilenav ul li img {
        margin-left: .5rem;
        transition: .5s;
    }

    .mobilenav ul li:nth-child(3) {
        position: relative;
    }

    .mobilenav ul li:hover img {
        transform: rotate(-180deg);
    }

    .mobilenav ul .connect {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobilenav ul .connect .connect_text {
        display: flex;
        align-items: center;
    }

    .mobilenav ul .connect .dropdown_menu_mobile {
        background: #ede9e9;
        padding: 1.5rem 0;
        width: 100%;
        border-radius: .5rem;
        display: none;
        transition: 2s;
    }

    .mobilenav ul .connect:hover .dropdown_menu_mobile {
        display: block;
    }

    .mobilenav ul .connect .dropdown_menu_mobile li:last-child {
        margin-bottom: 0;
    }

    .mobilenav ul hr {
        display: block;
        border: none;
        border-top: 1px solid #dad7d7;
        margin: 2rem auto 2rem;
        width: 100%;
    }

    .mobilenav ul .signup {
        margin-bottom: 0;
    }

    .mobilenav ul .signup a {
        padding: .8rem 2.5rem;
        background: linear-gradient(90deg, #ff8f70, #ff3d54);
        color: hsl(0, 0%, 100%);
        border-radius: 2rem;
        transition: .5s;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
    }

    .mobilenav ul .signup a:hover {
        background: linear-gradient(90deg, #ff3d54, #ff8f70);
    }
}