/** Services starts here **/

.services {
    width: 100%;
    padding: 8rem 10rem;
    position: relative;
    background: hsl(237, 17%, 21%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-right-radius: 6rem;
    border-bottom-left-radius: 6rem;
}



.services .services_leftcolumn {
    flex-basis: 40%;
    position: relative;
    background-image: url(../../../assets/illustration-phones.svg);
    background-position: center;
    background-size: cover;
}

.services .services_leftcolumn .phone {
    position: absolute;
    left: -5rem;
    top: -16rem;
    z-index: 3;
}

.services .services_leftcolumn .circle_pattern {
    position: absolute;
    left: -25rem;
    top: -50rem;
    z-index: 1;
    width: 250%;
}

@media (max-width: 991px) {
    .services {
        padding: 8rem 2rem;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .services .services_leftcolumn .phone {
        position: absolute;
        left: 125%;
        transform: translateX(-50%);
        top: -19rem;
        z-index: 3;
        width: 375px;
    }
}

@media (max-width: 320px) {

    .services .services_leftcolumn .phone {
        width: 320px;
    }

}