/** Header starts here **/

.header {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(../../assets/bg-pattern-intro.svg);
    background-position: center;
    background-size: 150%;
    padding: 4rem 10rem;
    border-bottom-left-radius: 6rem;
    background-repeat: no-repeat;
    background-color: #ff525d;
}

.header .navigation {
    display: flex;
    align-items: center;
}

.header .navigation .site_nav {
    flex: 1;
    margin-left: 3.5rem;
    display: flex;
    align-items: center;
}

.header .navigation .site_nav li {
    margin-right: 1.5rem;
    list-style: none;
    position: relative;
}

.header .navigation .site_nav li a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    transition: 1s;
    font-family: 'Ubuntu', sans-serif;
}

.header .navigation .site_nav li a:hover {
    text-decoration: underline;
}

.header .navigation .site_nav li img {
    margin-left: .5rem;
    transition: .5s;
}

.header .navigation .site_nav li:hover img {
    transform: rotate(-180deg);
}

.header .navigation .site_nav li .dropdown_menu {
    display: none;
    transition: .5s;
    z-index: 10;
}

.header .navigation .site_nav li:hover .dropdown_menu {
    display: block;
}

.header .navigation .site_nav li .dropdown_menu ul {
    position: absolute;
    margin-top: .2rem;
    margin-left: -2rem;
    background: #ffffff;
    padding: 1.5rem;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0 0 15px 3px #00000066;
}

.header .navigation .site_nav li .dropdown_menu ul li {
    display: block;
    margin-bottom: 1rem;
}

.header .navigation .site_nav li .dropdown_menu ul li:last-child {
    margin-bottom: 0;
}

.header .navigation .site_nav li .dropdown_menu ul li a {
    color: #8f8f8f;
    transition: .5s;
    cursor: pointer;
    text-decoration: none;
}

.header .navigation .site_nav li .dropdown_menu ul li a:hover {
    color: #0d0d0d;
}

.header .navigation .register {
    display: flex;
    align-items: center;
}

.header .navigation .register li {
    margin-left: 2rem;
    list-style: none;
}

.header .navigation .register li a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.9rem;
    font-family: 'Ubuntu', sans-serif;
}

.header .navigation .register li .signup {
    padding: .8rem 2.5rem;
    background: #ffffff;
    color: #ff525d;
    border: none;
    border-radius: 2rem;
    transition: .5s;
}

.header .navigation .register li .signup:hover {
    background: #ff7a85;
    color: #ffffff;
}

.header .navigation #mobilemenu {
    display: none;
}

.header .header_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.header .header_content h1 {
    font-size: 3.5rem;
    color: #ffffff;
    margin-bottom: 1rem;
    font-family: 'Overpass', sans-serif;
}

.header .header_content p {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 3rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.header .header_content .header_content_links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .header_content .header_content_links li {
    list-style: none;
    margin: 0 .5rem;
}

.header .header_content .header_content_links li a {
    text-decoration: none;
    padding: .7rem 1.5rem;
    cursor: pointer;
    font-size: .9rem;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
}

.header .header_content .header_content_links li .start {
    background: #ffffff;
    color: #ff525d;
    border-radius: 2rem;
    transition: .5s;
}

.header .header_content .header_content_links li .start:hover {
    background: #ff7a85;
    color: #ffffff;
}

.header .header_content .header_content_links li .learn {
    background: transparent;
    color: #ffffff;
    border-radius: 2rem;
    transition: .5s;
    border: 1px solid #ffffff;
}

.header .header_content .header_content_links li .learn:hover {
    background: #ffffff;
    color: #ff7a85;
}

@media (max-width: 991px) {
    .header {
        background: url(../../assets/bg-pattern-intro.svg);
        background-position: center;
        background-size: 400%;
        padding: 4rem 1.5rem;
        background-color: #ff525d;
    }

    .header .navigation {
        justify-content: space-between;
    }

    .header .navigation .site_nav {
        display: none;
    }

    .header .navigation .register {
        display: none;
    }

    .header .header_content .header_content_links li .start {
        padding: 1rem;
        font-size: .8rem;
        display: block;
    }

    .header .header_content .header_content_links li .learn {
        padding: 1rem;
        font-size: .8rem;
        display: block;
    }

    .header .navigation #mobilemenu {
        display: block;
    }

    .header .header_content {
        padding: 0 1.5rem;
    }

    .header .header_content h1 {
        font-size: 2.3rem;
    }

    .header .header_content p {
        margin-bottom: 4rem;
    }

    .header .header_content .header_content_links li a {
        padding: 1.2rem 1.5rem;
        font-size: 1rem;
    }
}

@media (max-width: 320px) {
    .header .header_content h1 {
        font-size: 1.9rem;
    }

    .header .header_content .header_content_links li .start {
        padding: 1rem;
        font-size: .8rem;
    }

    .header .header_content .header_content_links li .learn {
        padding: 1rem;
        font-size: .8rem;
    }
}