* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body,
html {
  overflow-x: hidden;
  background: #f7f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body,
html {
  overflow-x: hidden;
  background: #f7f2f2;
}